<% include ../partials/header %>

<div class="container">
    <h1>Edit Testimonial (Admin Only)</h1>
    <form action="/testimonials/<%= testimonial._id %>?_method=PUT" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="author">Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="author" name="testimonial[author]" value="<%= testimonial.author %>">
            </div>
        </div>
        <div class="form-group row">
            <label for="text">Text</label>
            <textarea class="form-control" id="text" name="testimonial[text]" rows="5"><%- testimonial.text %></textarea>
        </div>
        <div class="form-group row">
            <button class="btn btn-lg btn-success btn-block">Submit</button>
        </div>
    </form>
    <a href="/testimonials">Go Back to List of Testimonials</a>
</div>

<% include ../partials/footer %>

