<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h2 class="display-3 mb-3">
                <span class="welcome-text">About </span><span class="title">Fanny Friendly</span></h2>
            <p class="lead">We are a limited liability company registered in the State of Wisconsin.<br>
            We promote and sell bidet sets to retail and wholesale markets.</p>
        </div>
    </header>

    <div class="row">
        <div class="col-md-6" style="float: none; margin: 0 auto;">
            <h1 class="pb-2">Our Mission</h1>
            <p>Our mission is to educate the youth and families on the benefits of a bidet.
            We aspire to do business with everyone who believes in what we believe!</p>
        
            <hr class="pb-4">
        
            <h1 class="pb-2">Benefits of Using a Bidet</h1>
        
            <h2>1. Better Personal Hygiene</h2>
            <p>Water always has that therapeutic, soothing effect on the skin. 
            After your 5th trip to the toilet because of diarrhea, your fanny is irritated and chapped.  
            Cleaning yourself with water using a hand-held bidet is always more sanitary that toilet tissue. 
            It helps eliminate odor, washes harmful bacteria, and it is a touch of comfort for women, 
            when it is the time of the month. The use of a hand-held bidet enhances personal hygiene benefits tenfold 
            for the elderly and physically challenged, particularly those with rotator cuff and back problems.</p>
        
            <h2>2. Easy to Install</h2>
            <p>No major plumbing investment is needed to install our bidets.
            You do not need a professional plumber to connect our hand-held bidet to your toilet tank.  
            It is easy to install. A full instruction manual is included in our hand-held bidet set package.</p>
        
            <h2>3. Saves Money</h2>
            <p>The cost of toilet paper has been increasing year after year. 
            In 2011, US spent over US$ 6 billion on toilet paper. 
            Do not flush your money down the drain, in particular, when lateral sewage clogs up.  
            With the use of a hand-held bidet, you do not only improve your personal hygiene growth, 
            you also save on toilet tissue usage and you conserve water at the same time because of lesser toilet flushes.  
            There will be absolutely no more clogging headaches.</p>
        
            <h2>4. Better for the Environment</h2>
            <p>Alarmingly, over 15 million trees are pulped each year.  
            From a tree which is brown in color, you have a toilet paper which is white and fine in texture.  
            Toilet paper is bleached heavily and is treated with toxins.  Using a bidet not only makes you feel clean, 
            you are also helping save the environment.  A bidet (hand-held bidet) is a key go-green technology initiative. </p>
        </div>
    </div>
</div>



<% include ./partials/footer %>

