<% include ./partials/header %>

<div class="container">
    <header class="jumbotron mt-5">
        <div class="container text-center">
            <h2 class="display-3 mb-3">
                <span class="welcome-text">Contact </span><span class="title">Fanny Friendly</span></h2>
            <p class="lead">You can reach us anytime through any of the methods listed below.</p>
        </div>
    </header>

    <div class="row" style="display: flex">
        <div class="col-md-6">
            <h2>Mail</h2>
            <p class="lead"><a href="https://www.google.com/maps/place/118+S+Main+St,+Jefferson,+WI+53549/@43.0049079,-88.809026,17z/data=!3m1!4b1!4m5!3m4!1s0x880677f2ca30766b:0x59cb4a0aed746bff!8m2!3d43.004904!4d-88.806832" target="_blank">
                118 South Main Street<br>
                Suites B &amp; C,<br>
                Jefferson, Wisconsin 53549</a>
            </p>
        </div>
    
        <div class="col-md-6">
            <h2>Email</h2>
            <p class="lead"><a href="mailto:info@fannyfriendlyllc.com" target="_blank">info@fannyfriendlyllc.com</a></p>
            <h2>Call or Text</h2>
            <p class="lead">+1 (920) 475-7816</p>
        </div>
    </div>

</div>

<% include ./partials/footer %>

