<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h2 class="display-3 mb-3">Welcome to <span class="title">Fanny Friendly</span>!</h2>
            <p class="lead">We are a limited liability company registered in the State of Wisconsin.<br>
            We promote and sell bidet sets to retail and wholesale markets.</p>
            <hr>
            <h3>You can reach us anytime through any of the methods listed below.</h3>
        </div>
    </header>

    <div class="row" style="display: flex">
        <div class="col-md-6">
            <h2>Send Us Mail</h2>
            <p><a href="https://www.google.com/maps/place/118+S+Main+St,+Jefferson,+WI+53549/@43.0049079,-88.809026,17z/data=!3m1!4b1!4m5!3m4!1s0x880677f2ca30766b:0x59cb4a0aed746bff!8m2!3d43.004904!4d-88.806832" target="_blank">
                118 South Main Street<br>
                Suites B &amp; C,<br>
                Jefferson, Wisconsin 53549</a>
            </p>
        </div>
    
        <div class="col-md-6">
            <h2>Shoot Us an Email</h2>
            <p><a href="mailto:info@fannyfriendlyllc.com" target="_blank">info@fannyfriendlyllc.com</a></p>
            <h2>Give Us a Call</h2>
            <p>+1 (920) 475-7816</p>
        </div>
    </div>

</div>

<% include ./partials/footer %>

