<% include ./partials/header %>

<header class="jumbotron container mt-5">
    <h1 class="display-3">Oops...</h1>
    <p class="lead">
    Unfortunately, this website does not support the creating new users.<br>
        Please direct all questions to the <a href="mailto:website@fannyfriendlyllc.com">Sitemaster</a>
        of this website.
    </p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Return to Home Page</a>
</header>

<% include ./partials/footer %>

