.title {
    font-family: 'Helvetica';
    font-weight: bold;
}

.welcome-text {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Helvetica';
}

.bd-navbar {
    min-height: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.jumbotron {
    background-color: #8CADDF;
}

.btn-primary {
    background-color: #5691c8;
}

#fanny-logo-img {
    border-left: 1px solid #8CADDF;
}

#product-index-img {
    max-height: 300px;
}

#product-show-img {
    max-height: 600px;
}

.delete-form {
    display: inline;
}

.scroll-top {
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    padding-top: 0.7rem;
}
