.title {
    font-family: 'Helvetica';
    font-weight: bold;
}

.welcome-text {
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Helvetica';
}

#flash-content-div {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    margin-top: 4rem;
}

.bd-navbar {
    min-height: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.jumbotron {
    margin-top: 4rem;    
    background: #90BAEC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #90BAEC, #5081C4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #90BAEC, #5081C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary {
    background-color: #5081C4;
}

#fanny-logo-img {
    border-left: 1px solid #90BAEC;
}

#product-index-img {
    max-height: 300px;
}

#product-show-img {
    max-height: 600px;
}

.delete-form {
    display: inline;
}

.scroll-top {
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    padding-top: 0.7rem;
}
