<% include ../partials/header %>

<!-- This page is /services -->

<div class="container">
    <header class="jumbotron jumbotron-fluid pt-0 pl-0">
        <div class="container text-left pl-0 pr-0">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/fannyfriendly-logo.png" id="fanny-logo-img" class="img-fluid d-none d-md-block">
                </div>
                <div class="col-md-8">
                    <h2 class="display-4 mb-3 mt-5">
                        <span class="title">Fanny Friendly, LLC</span>
                    </h2>
                    <!-- h3 class="text-center">(A hand-held bidet company)</h3 -->
                </div>
            </div>
            <!--hr class="text-center"-->
            <p class="lead text-center mt-2">We are a limited liability company registered in the State of Wisconsin.<br>
            GINES WILL INSERT MORE TEXT HERE.</p> 
        </div>
        <% if (currentUser) { %>
            <p class="lead">
                <a class="btn btn-success btn-md float-right" href="/services/new" role="button">Add New Service</a>
            </p>
        <% } %>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% services.forEach(function(service) { %>
        <div class="col-md-3 col-sm-6">
            <div class="border border-secondary rounded mb-5 p-2">
                <h5><%= service.name %></h5>
                <p><a href="/services/<%= service.url %>" class="btn btn-primary btn-sm">More Details</a></p>
                <div class="border border-light py-3">
                    <img class="img-responsive img-fluid" id="product-index-img" src="<%= service.image %>">
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
